.visitTitle {
  background-color: #3cb371;
  font-size: 1em;
}

.visitDescription {
  margin: 1%;
  font-size: 0.9em;
}

@media only screen and (min-width: 992px) {
  .visitTitle {
    background-color: #3cb371;
    font-size: 1.1em;
  }

  .visitDescription {
    margin: 1%;
    font-size: 1em;
  }
}
