.visitTitle {
  background-color: #3cb371;
}

.visitDescription {
  margin: 1%;
  font-size: 0.9em;
}

@media only screen and (min-width: 992px) {
  .teleTitle {
    background-color: #d2691e;
  }

  .teleDescription {
    margin: 1%;
    font-size: 1em;
  }
}
