.visitForm {
  /* background-color: lightskyblue; */
  /* padding: 1%; */
  /* margin: 1%; */
  /* border: 2px solid black; */
}

.visitFormSpace {
  margin: 2%;
}

.whatInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.locationInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.whyInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.recommendedByInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.visitFormSubmit {
  border-radius: 5px;
  border: 2px solid black;
}
