td {
  border: 2px solid black;
  padding: 1%;
}
.readItemTextarea {
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.readItem {
  font-size: 0.8em;
}

#yesButton,
#alrightButton,
#noButton,
#readDelete {
  border-radius: 50%;
  font-size: 0.9em;
  border: 2px solid black;
}

.readCheckBox {
  width: 25px;
  height: 25px;
  /* border: 2px solid black; */
}

.readBeckyOpinion {
  margin: 2%;
  /* border: 2px solid black; */
  font-size: 1.1em;
}

@media only screen and (max-width: 320px) {
  .readItem {
    font-size: 0.8em;
  }

  .readItemTextarea {
    font-size: 0.8em;
  }

  #yesButton,
  #alrightButton,
  #noButton,
  #readDelete {
    font-size: 0.9em;
  }

  .readCheckBox {
    width: 25px;
    height: 25px;
  }

  .readBeckyOpinion {
    margin: 2%;
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 768px) {
  .readItem {
    font-size: 0.9em;
  }

  .readItemTextarea {
    font-size: 0.9em;
  }

  #yesButton,
  #alrightButton,
  #noButton,
  #readDelete {
    font-size: 1em;
  }

  .readCheckBox {
    width: 30px;
    height: 30px;
  }

  .readBeckyOpinion {
    margin: 2%;
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1024px) {
  .readItem {
    font-size: 1em;
  }

  #yesButton,
  #alrightButton,
  #noButton {
    font-size: 1.1em;
  }

  #readDelete {
    font-size: 1.5em;
  }

  .readCheckBox {
    width: 30px;
    height: 30px;
  }

  .readBeckyOpinion {
    margin: 2%;
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1440px) {
  .readItem {
    font-size: 1em;
  }

  #yesButton,
  #alrightButton,
  #noButton {
    font-size: 1.2em;
  }

  #readDelete {
    font-size: 1.5em;
  }

  .readCheckBox {
    width: 35px;
    height: 35px;
  }

  .readBeckyOpinion {
    margin: 2%;
    font-size: 1.5em;
  }
}
