.readForm {
  /* background-color: lightskyblue; */
  /* padding: 1%; */
  /* margin: 1%; */
  /* border: 2px solid black; */
}

.readFormSpace {
  margin: 1%;
}

.readBookInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.readAuthorInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.readNoOfBooksInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.readGenreInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.readConnectedInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.readDetailsInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.readRecommendedByInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.readFormSubmit {
  border-radius: 5px;
  border: 2px solid black;
}

@media only screen and (min-width: 1024px) {
  .readBookInput {
    font-size: 1.1em;
  }
  .readAuthorInput {
    font-size: 1.1em;
  }
  .readNoOfBooksInput {
    font-size: 1.1em;
  }
  .readGenreInput {
    font-size: 1.1em;
  }
  .readConnectedInput {
    font-size: 1.1em;
  }
  .readDetailsInput {
    font-size: 1.1em;
  }
  .readRecommendedByInput {
    font-size: 1.1em;
  }
  .filmFormSubmit {
    font-size: 1.1em;
  }
}
