.filmPage {
  margin: 2%;
  background-color: #d2691e;
  padding: 1%;
  /* border: 2px solid black; */
}

/* .filmPageParagraph { */

/* margin-top: 1%;
  margin-bottom: 1%; */
/* text-align: center; */
/* display: inline-block; */
/* } */
