.readTable {
  /* border: 2px solid black; */
  padding: 1%;
  margin: 1%;
  /* background-color: lightyellow; */
}

.tableRead {
  /* border: 2px solid black; */
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow-wrap: break-word;
  hyphens: auto;
}

.tableHeadRead {
  text-align: center;
  background-color: #b0c4de; /*lightsteelblue*/
  border: 2px solid black;
}

.tableBodyRead {
  background-color: #9932cc; /*darkorchid*/
}

.tableBodyRead tr:nth-child(even) {
  background-color: #e0b0ff; /*mauve*/
}

.tableBodyRead tr:hover {
  background-color: lightyellow;
}

@media only screen and (max-width: 320px) {
  .tableHeadRead {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  .tableHeadRead {
    font-size: 1.2em;
  }
}
