.visitPageLists {
  /* margin: 1%;
      padding: 1%; */
  /* background-color: lightgreen; */
  /* background-color: white; */
  font-size: 0.8em;
  /* text-align: left; */
  /* border: 2px solid black; */
  display: flex;
}

.visitListParagraph {
  text-align: center;
  text-decoration: underline;
  margin: 1%;
  font-size: 1em;
}

.visitDislike {
  list-style-type: none;
  text-align: left;
  background-color: lightcoral;
  /* display: inline-block; */
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.visitLike {
  list-style-type: none;
  text-align: left;
  background-color: green;
  /* display: inline-block; */
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.visitDislikeItem {
  font-size: 1em;
}

.visitLikeItem {
  font-size: 1em;
}

.visitDislikeItem:before {
  content: "❌";
}

.visitLikeItem:before {
  content: "✔️";
}

@media only screen and (max-width: 320px) {
  .filmPageLists {
    font-size: 0.8em;
  }

  .filmListParagraph {
    font-size: 1em;
  }

  .filmDislikeItem {
    font-size: 1em;
  }

  .filmLikeItem {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .filmListParagraph {
    font-size: 1.2em;
  }

  .filmDislikeItem {
    font-size: 1.1em;
  }

  .filmLikeItem {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1024px) {
  .visitListParagraph {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1440px) {
  /* .visitListParagraph {
    font-size: 1.3em;
  } */

  .visitDislikeItem {
    font-size: 1.2em;
  }

  .visitLikeItem {
    font-size: 1.2em;
  }
}
