#div {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  overflow-y: auto;
}

#table {
  width: 100%;
  border: solid;
  border-collapse: collapse;
  table-layout: fixed;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  /* position: absolute;
  overflow: auto; */

  /* table-layout: fixed; */
  /* overflow-y: auto;
  overflow-x: hidden; */
  /* overflow: auto; */
}

#tableHeading {
  /* position: sticky;
  top: 0; */
  font-size: 1rem;
}

#tableBody {
  /* overflow-y: auto; */
}
