.filmForm {
  /* background-color: lightskyblue; */
  /* padding: 1%; */
  /* margin: 1%; */
  /* border: 2px solid black; */
}

.filmFormSpace {
  margin: 2%;
}

.filmInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.providerInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.genreInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.connectedInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.detailsInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.recommendedByInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.filmFormSubmit {
  border-radius: 5px;
  border: 2px solid black;
}
