.filmForm {
  /* background-color: lightskyblue; */
  /* padding: 1%; */
  /* margin: 1%; */
  /* border: 2px solid black; */
}

.filmFormSpace {
  margin: 1%;
}

.filmInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.filmProviderInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.filmGenreInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.filmConnectedInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.filmDetailsInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.filmRecommendedByInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.filmFormSubmit {
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid black;
}

@media only screen and (min-width: 1024px) {
  .filmInput {
    font-size: 1.1em;
  }
  .filmProviderInput {
    font-size: 1.1em;
  }
  .filmGenreInput {
    font-size: 1.1em;
  }
  .filmConnectedInput {
    font-size: 1.1em;
  }
  .filmDetailsInput {
    font-size: 1.1em;
  }
  .filmRecommendedByInput {
    font-size: 1.1em;
  }
  .filmFormSubmit {
    font-size: 1.1em;
  }
}
