.teleTitle {
  background-color: #ffa500;
  font-size: 1em;
}

.teleDescription {
  margin: 1%;
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  .teleTitle {
    font-size: 1.2em;
  }
}
