td {
  border: 2px solid black;
}
textarea {
  width: 80%;
}

button {
  border-radius: 50%;
  /* vertical-align: middle;
  text-align: center; */
  font-size: 0.9em;
  border: 2px solid black;
}

/* input.checkBox {
  width: 25px;
  height: 25px;
  border: 2px solid black;
} */

.checkBox {
  width: 25px;
  height: 25px;
  /* border: 2px solid black; */
}

.foodBeckyOpinion {
  /* margin-top: 2%;
  margin-bottom: 2%; */
  margin: 2%;
  /* padding: 1%; */
  /* border: 2px solid black; */
}
