.homePage {
  border: solid black 2px;
  margin: 2%;
  padding: 1%;
  background-color: lightYellow;
  min-height: 100vh;
  text-align: center;
  font-size: 0.9em;
}

.homeDescriptionWhy {
  /* border: solid black 2px; */
  font-size: 0.9em;
  /* background-color: blueviolet; */
  margin: 1%;
}

.homeDescriptionHow {
  /* border: solid black 2px; */
  font-size: 0.9em;
  /* background-color: chartreuse; */
  /* margin: 0; */
}

.homeEatTitle {
  background-color: #00bfff;
}

.homeEatDescription {
  margin: 1%;
  font-size: 0.9em;
}

.homeVisitTitle {
  background-color: #3cb371;
}

.homeVisitDescription {
  margin: 1%;
  font-size: 0.9em;
}

.homeStayTitle {
  background-color: #ff4500;
}

.homeStayDescription {
  margin: 1%;
  font-size: 0.9em;
}

.homeReadTitle {
  background-color: #9370db;
}

.homeReadDescription {
  margin: 1%;
  font-size: 0.9em;
}

.homeTeleTitle {
  background-color: #ffa500;
}

.homeTeleDescription {
  margin: 1%;
  font-size: 0.9em;
}

.homeFilmTitle {
  background-color: #d2691e;
}

.homeFilmDescription {
  margin: 1%;
  font-size: 0.9em;
}
