.homePage {
  border: solid black 2px;
  margin: 2%;
  padding: 1%;
  background-color: lightYellow;
  min-height: 100vh;
  text-align: center;
  font-size: 0.9em;
}

.homeDescriptionWhy {
  /* border: solid black 2px; */
  font-size: 0.9em;
  /* background-color: blueviolet; */
  margin: 1%;
}

.homeDescriptionHow {
  /* border: solid black 2px; */
  font-size: 0.9em;
  /* background-color: chartreuse; */
  /* margin: 0; */
}

.homeEatTitle {
  background-color: #00bfff;
}

.homeEatDescription {
  font-size: 0.9em;
}
