.stayPageLists {
  /* margin: 1%;
      padding: 1%; */
  /* background-color: lightgreen; */
  /* background-color: white; */
  font-size: 0.8em;
  /* border: 2px solid black; */
  display: flex;
}

.stayListParagraph {
  text-align: center;
  text-decoration: underline;
  margin: 1%;
  font-size: 1em;
}

.stayDislike {
  list-style-type: none;
  text-align: left;
  background-color: lightcoral;
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.stayLike {
  list-style-type: none;
  text-align: left;
  background-color: green;
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.stayDislikeItem {
  font-size: 1em;
}

.stayLikeItem {
  font-size: 1em;
}

.stayDislikeItem:before {
  content: "❌";
}

.stayLikeItem:before {
  content: "✔️";
}

@media only screen and (max-width: 320px) {
  .stayPageLists {
    font-size: 0.8em;
  }

  .stayListParagraph {
    font-size: 1em;
  }

  .stayDislikeItem {
    font-size: 1em;
  }

  .stayLikeItem {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .stayListParagraph {
    font-size: 1.2em;
  }

  .stayDislikeItem {
    font-size: 1.1em;
  }

  .stayLikeItem {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1024px) {
  .stayListParagraph {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1440px) {
  .stayDislikeItem {
    font-size: 1.2em;
  }

  .stayLikeItem {
    font-size: 1.2em;
  }
}
