.eatTitle {
  background-color: #00bfff;
  font-size: 1em;
}

.eatDescription {
  margin: 1%;
  font-size: 0.9em;
}
@media only screen and (min-width: 992px) {
  .eatTitle {
    background-color: #00bfff;
    font-size: 1.1em;
  }

  .eatDescription {
    margin: 1%;
    font-size: 1em;
  }
}
