.visitTable {
  /* border: 2px solid black; */
  padding: 1%;
  margin: 1%;
  /* background-color: lightyellow; */
}

.tableVisit {
  /* border: 2px solid black; */
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow-wrap: break-word;
  hyphens: auto;
}

.tableHeadVisit {
  text-align: center;
  background-color: #b0c4de; /*lightsteelblue*/
  border: 2px solid black;
}

.tableBodyVisit {
  background-color: #3b7a57; /*amazon*/
}

.tableBodyVisit tr:nth-child(even) {
  background-color: #98fb98; /*palegreen*/
}

.tableBodyVisit tr:hover {
  background-color: lightyellow;
}

@media only screen and (max-width: 320px) {
  .tableHeadVisit {
    /* text-align: center;
    background-color: #b0c4de;
    border: 2px solid black; */
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  .tableHeadVisit {
    /* text-align: center;
    background-color: #b0c4de;
    border: 2px solid black; */
    font-size: 1.2em;
  }
}
