td {
  border: 2px solid black;
}
.teleItemTextarea {
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.teleItem {
  font-size: 0.8em;
}

#yesButton,
#alrightButton,
#noButton,
#teleDelete {
  border-radius: 50%;
  /* vertical-align: middle;
          text-align: center; */
  font-size: 0.9em;
  border: 2px solid black;
}

.teleCheckBox {
  width: 25px;
  height: 25px;
  /* border: 2px solid black; */
}

.teleBeckyOpinion {
  /* margin-top: 2%;
          margin-bottom: 2%; */
  margin: 2%;
  /* padding: 1%; */
  /* border: 2px solid black; */
  font-size: 1.1em;
}

@media only screen and (max-width: 320px) {
  .teleItem {
    font-size: 0.8em;
  }

  .teleItemTextarea {
    font-size: 0.8em;
  }

  #yesButton,
  #alrightButton,
  #noButton,
  #teleDelete {
    font-size: 0.9em;
  }

  .teleCheckBox {
    width: 25px;
    height: 25px;
  }

  .teleBeckyOpinion {
    margin: 2%;
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 768px) {
  .teleItem {
    font-size: 0.9em;
  }

  .teleItemTextarea {
    font-size: 0.9em;
  }

  #yesButton,
  #alrightButton,
  #noButton,
  #teleDelete {
    font-size: 1em;
  }

  .teleCheckBox {
    width: 30px;
    height: 30px;
  }

  .teleBeckyOpinion {
    margin: 2%;
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1024px) {
  .teleItem {
    font-size: 1em;
  }

  #yesButton,
  #alrightButton,
  #noButton {
    font-size: 1.1em;
  }

  #teleDelete {
    font-size: 1.5em;
  }

  .teleCheckBox {
    width: 30px;
    height: 30px;
  }

  .teleBeckyOpinion {
    margin: 2%;
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1440px) {
  .teleItem {
    font-size: 1em;
  }

  /* .teleItemTextarea {
    font-size: 0.9em;
  } */
  #yesButton,
  #alrightButton,
  #noButton {
    font-size: 1.2em;
  }

  #teleDelete {
    font-size: 1.5em;
  }

  .teleCheckBox {
    width: 35px;
    height: 35px;
  }

  .teleBeckyOpinion {
    margin: 2%;
    font-size: 1.5em;
  }
}
