.readPageLists {
  /* margin: 1%;
          padding: 1%; */
  /* background-color: lightgreen; */
  /* background-color: white; */
  font-size: 0.8em;
  /* border: 2px solid black; */
  display: flex;
}
.readListParagraph {
  text-align: center;
  text-decoration: underline;
  margin: 1%;
  font-size: 1em;
}

.readDislike {
  background-color: lightcoral;
  margin: 1%;
  padding: 1%;
  width: 50%;
  list-style-type: none;
  text-align: left;
}

.readLike {
  background-color: green;
  margin: 1%;
  padding: 1%;
  width: 50%;
  list-style-type: none;
  text-align: left;
}

.readDislikeItem {
  font-size: 1em;
}

.readLikeItem {
  font-size: 1em;
}

.readDislikeItem:before {
  content: "❌";
}

.readLikeItem:before {
  content: "✔️";
}

@media only screen and (max-width: 320px) {
  .readPageLists {
    font-size: 0.8em;
  }

  .readListParagraph {
    font-size: 1em;
  }

  .readDislikeItem {
    font-size: 1em;
  }

  .readLikeItem {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .readListParagraph {
    font-size: 1.2em;
  }

  .readDislikeItem {
    font-size: 1.1em;
  }

  .readLikeItem {
    font-size: 1.1em;
  }
}
