td {
  border: 2px solid black;
}
.stayItemTextarea {
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.stayItem {
  font-size: 0.8em;
}

#yesButton,
#alrightButton,
#noButton,
#stayDelete {
  border-radius: 50%;
  font-size: 0.9em;
  border: 2px solid black;
}

.stayCheckBox {
  width: 25px;
  height: 25px;
  /* border: 2px solid black; */
}

.stayBeckyOpinion {
  margin: 2%;
  /* border: 2px solid black; */
  font-size: 1.1em;
}

@media only screen and (max-width: 320px) {
  .stayItem {
    font-size: 0.8em;
  }

  .stayItemTextarea {
    font-size: 0.8em;
  }

  #yesButton,
  #alrightButton,
  #noButton,
  #stayDelete {
    font-size: 0.9em;
  }

  .stayCheckBox {
    width: 25px;
    height: 25px;
  }

  .stayBeckyOpinion {
    margin: 2%;
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 768px) {
  .stayItem {
    font-size: 0.9em;
  }

  .stayItemTextarea {
    font-size: 0.9em;
  }

  #yesButton,
  #alrightButton,
  #noButton,
  #stayDelete {
    font-size: 1em;
  }

  .stayCheckBox {
    width: 30px;
    height: 30px;
  }

  .stayBeckyOpinion {
    margin: 2%;
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1024px) {
  .stayItem {
    font-size: 1em;
  }

  #yesButton,
  #alrightButton,
  #noButton {
    font-size: 1.1em;
  }

  #stayDelete {
    font-size: 1.5em;
  }

  .stayCheckBox {
    width: 30px;
    height: 30px;
  }

  .stayBeckyOpinion {
    margin: 2%;
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1440px) {
  .stayItem {
    font-size: 1em;
  }
  #yesButton,
  #alrightButton,
  #noButton {
    font-size: 1.2em;
  }

  #stayDelete {
    font-size: 1.5em;
  }

  .stayCheckBox {
    width: 35px;
    height: 35px;
  }

  .stayBeckyOpinion {
    margin: 2%;
    font-size: 1.5em;
  }
}
