.visitPage {
  margin: 2%;
  background-color: #3cb371; /*medimumseagreen*/
  padding: 1%;
  /* border: 2px solid black; */
}

.visitPageLists {
  /* margin: 1%;
    padding: 1%; */
  /* background-color: lightgreen; */
  /* background-color: white; */
  font-size: 0.8em;
  /* text-align: left; */
  /* border: 2px solid black; */
  display: flex;
}

.visitPageParagraph {
  margin-top: 1%;
  margin-bottom: 1%;
  /* text-align: center; */
  /* display: inline-block; */
}

ul {
  /* border: 2px solid black; */
  list-style-type: none;
  text-align: left;
  /* display: inline-block; */
}

.visitDislike {
  background-color: lightcoral;
  /* display: inline-block; */
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.visitLike {
  background-color: green;
  /* display: inline-block; */
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.visitDislikeItem:before {
  content: "❌";
}

.visitLikeItem:before {
  content: "✔️";
}

.visitListParagraph {
  text-align: center;
  text-decoration: underline;
  margin: 1%;
}
