.telePageLists {
  /* margin: 1%;
            padding: 1%; */
  /* background-color: lightgreen; */
  /* background-color: white; */
  font-size: 0.8em;
  /* border: 2px solid black; */
  display: flex;
}

.teleListParagraph {
  text-align: center;
  text-decoration: underline;
  margin: 1%;
  font-size: 1em;
}

.teleDislike {
  list-style-type: none;
  text-align: left;
  background-color: lightcoral;
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.teleLike {
  list-style-type: none;
  text-align: left;
  background-color: green;
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.teleDislikeItem {
  font-size: 1em;
}

.teleLikeItem {
  font-size: 1em;
}

.teleDislikeItem:before {
  content: "❌";
}

.teleLikeItem:before {
  content: "✔️";
}

@media only screen and (max-width: 320px) {
  .filmPageLists {
    font-size: 0.8em;
  }

  .filmListParagraph {
    font-size: 1em;
  }

  .filmDislikeItem {
    font-size: 1em;
  }

  .filmLikeItem {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .filmListParagraph {
    font-size: 1.2em;
  }

  .filmDislikeItem {
    font-size: 1.1em;
  }

  .filmLikeItem {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1024px) {
  .teleListParagraph {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1440px) {
  .teleDislikeItem {
    font-size: 1.2em;
  }

  .teleLikeItem {
    font-size: 1.2em;
  }
}
