.loginPic {
  width: 20%;
  border-radius: 35px;
}

@media only screen and (max-width: 320) {
  .loginPic {
    width: 20%;
    border-radius: 35px;
  }
}

@media only screen and (min-width: 375px) {
  .loginPic {
    /* width: 20%; */
    border-radius: 30px;
  }
}

@media only screen and (min-width: 425px) {
  .loginPic {
    /* width: 20%; */
    border-radius: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .loginPic {
    width: 13%;
    border-radius: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .loginPic {
    width: 15%;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .loginPic {
    width: 12%;
    border-radius: 50px;
  }
}
