.teleForm {
  /* background-color: lightskyblue; */
  /* padding: 1%; */
  /* margin: 1%; */
  /* border: 2px solid black; */
}

.teleFormSpace {
  margin: 1%;
}

.tvShowInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.teleProviderInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.teleNoOfSeriesInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.teleGenreInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.teleConnectedInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.teleDetailsInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.teleRecommendedByInput {
  width: 95%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
}

.teleFormSubmit {
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid black;
}

@media only screen and (min-width: 1024px) {
  .tvShowInput {
    font-size: 1.1em;
  }
  .teleProviderInput {
    font-size: 1.1em;
  }
  .teleGenreInput {
    font-size: 1.1em;
  }
  .teleConnectedInput {
    font-size: 1.1em;
  }
  .teleDetailsInput {
    font-size: 1.1em;
  }
  .teleRecommendedByInput {
    font-size: 1.1em;
  }
  .teleFormSubmit {
    font-size: 1.1em;
  }
}
