.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
  padding: 1%;
  background-color: lightcoral;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.foodLink {
  margin: 1%;
  background-color: #00bfff; /*blue*/
  border: 2px solid black;
  text-decoration: none;
  color: black;
}

.cityLink {
  margin: 1%;
  border: 2px solid black;
  text-decoration: none;
  background-color: #3cb371; /*medimumseagreen*/
}

.countryLink {
  margin: 1%;
  border: 2px solid black;
  text-decoration: none;
}

.bookLink {
  margin: 1%;
  border: 2px solid black;
  text-decoration: none;
}

.teleLink {
  margin: 1%;
  border: 2px solid black;
  text-decoration: none;
}

.filmLink {
  margin: 1%;
  border: 2px solid black;
  text-decoration: none;
}

Link {
  text-decoration: none;
}
