.telePage {
  margin: 2%;
  background-color: #9370db;
  padding: 1%;
  /* border: 2px solid black; */
}

.telePageLists {
  /* margin: 1%;
          padding: 1%; */
  /* background-color: lightgreen; */
  /* background-color: white; */
  font-size: 0.8em;
  /* text-align: left; */
  /* border: 2px solid black; */
  display: flex;
}

.telePageParagraph {
  margin-top: 1%;
  margin-bottom: 1%;
  /* text-align: center; */
  /* display: inline-block; */
}

ul {
  /* border: 2px solid black; */
  list-style-type: none;
  text-align: left;
  /* display: inline-block; */
}

.teleDislike {
  background-color: lightcoral;
  /* display: inline-block; */
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.teleLike {
  background-color: green;
  /* display: inline-block; */
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.teleDislikeItem:before {
  content: "❌";
}

.teleLikeItem:before {
  content: "✔️";
}

.teleListParagraph {
  text-align: center;
  text-decoration: underline;
  margin: 1%;
}
